@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Exo-2-Regular.woff2") format("woff2"), url("/fonts/Exo-2-Regular.woff") format("woff");
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Exo 2", "Open Sans", sans-serif;
  font-size: 18px;
  color: #fff;
  background: #000 url("/assets/stars.webp") repeat top center;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (width >= 768px) {
    width: 750px;
  }

  @media (width >= 992px) {
    width: 970px;
  }

  @media (width >= 1200px) {
    width: 1170px;
  }
}
.stars {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: transparent url("/assets/flickering.webp") repeat top center;
  animation: flickering 600s linear infinite;
}

@keyframes flickering {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.button {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  padding: 10px;
  font-size: inherit;
  line-height: 1.2;
  color: #cacaca;
  text-decoration: inherit;
  cursor: pointer;
  background-color: #23232d;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  &:hover {
    background-color: #31313b;
  }
  &:active {
    transform: translateY(1px);
  }
}
